# Operation on list

#### Create a List

In [2]:
my_list = [5, 15, 25, 35, 45]
print("Created List:", my_list)

Created List: [5, 15, 25, 35, 45]

#### Append an Element

In [4]:
my_list.append(55)
print("After Append:", my_list)

After Append: [5, 15, 25, 35, 45, 55]

#### Insert an Element at a Specific Position

In [8]:
my_list.insert(1, 12)  
print("After Insert:", my_list)

After Insert: [5, 12, 12, 15, 25, 35, 45, 55]

#### Remove an Element

In [9]:
my_list.remove(35)
print("After Remove:", my_list)

After Remove: [5, 12, 12, 15, 25, 45, 55]

#### Reverse the List

In [11]:
my_list.reverse()
print("After Reverse:", my_list)

After Reverse: [55, 45, 25, 15, 12, 12, 5]

# Operation on tuple

#### Create a Tuple

In [13]:
my_tuple = (100, 200, 300, 400, 500)
print("Created Tuple:", my_tuple)

Created Tuple: (100, 200, 300, 400, 500)

#### Access an Element

In [15]:
print("Element at index 2:", my_tuple[2])

Element at index 2: 300

#### Concatenate Tuples

In [17]:
new_tuple = my_tuple + (600, 700)
print("After Concatenation:", new_tuple)

After Concatenation: (100, 200, 300, 400, 500, 600, 700)

#### Repeat the Tuple

In [19]:
repeat_tuple = my_tuple * 2
print("After Repetition:", repeat_tuple)

After Repetition: (100, 200, 300, 400, 500, 100, 200, 300, 400, 500)

#### Find Maximum Value

In [21]:
print("Maximum Value in Tuple:", max(my_tuple))

Maximum Value in Tuple: 500

# Operration on set

#### Create a Set

In [22]:
my_set = {10, 20, 30, 40, 50}
print("Created Set:", my_set)

Created Set: {50, 20, 40, 10, 30}

#### Add an Element

In [23]:
my_set.add(60)
print("After Add:", my_set)

After Add: {50, 20, 40, 10, 60, 30}

#### Remove an Element

In [24]:
my_set.remove(30)
print("After Remove:", my_set)

After Remove: {50, 20, 40, 10, 60}

#### Union of Sets

In [25]:
new_set = {70, 80, 90}
union_set = my_set.union(new_set)
print("After Union:", union_set)

After Union: {80, 50, 20, 90, 70, 40, 10, 60}

####  Intersection of Sets

In [26]:
inter_set = my_set.intersection({40, 50, 60, 100})
print("After Intersection:", inter_set)

After Intersection: {40, 50, 60}

# Operation on dictionary

#### Create a Dictionary

In [2]:
my_dict = {"id": 1240110121060, "name": "priya", "course": "CSE"}
print("Created Dictionary:", my_dict)

Created Dictionary: {'id': 1240110121060, 'name': 'priya', 'course': 'CSE'}

#### Add a New Key-Value Pair

In [3]:
my_dict["year"] = 2025
print("After Adding:", my_dict)

After Adding: {'id': 1240110121060, 'name': 'priya', 'course': 'CSE', 'year': 2025}

#### Update a Value

In [4]:
my_dict["name"] = "kayal"
print("After Update:", my_dict)

After Update: {'id': 1240110121060, 'name': 'kayal', 'course': 'CSE', 'year': 2025}

#### Remove a Key-Value Pair

In [5]:
my_dict.pop("course")
print("After Remove:", my_dict)

After Remove: {'id': 1240110121060, 'name': 'kayal', 'year': 2025}

#### Get All Keys

In [6]:
print("All Keys:", my_dict.keys())

All Keys: dict_keys(['id', 'name', 'year'])